If:
  PathMatch: [.*\.c, .*\.h]
CompileFlags:
  Add:
    - "-xc"
    - "-std=c23"
    - "-Wall"
    - "-Wextra"
    - "-Wno-unused-function"
    - "-Ilib"
    - "-I../lib"
    - "-I../../lib"
---
If:
  PathMatch: [.*/bin/wasm/.*\.c, .*/bin/wasm/.*\.h, .*/lib/.*\.c, .*/lib/.*\.h]
CompileFlags:
  Add:
    - "--target=wasm32"
    - "-nostdlib"
    - "-mbulk-memory"
    - "-msimd128"
