If:
  PathMatch: src/.*\.c
CompileFlags:
  Add:
    - --target=wasm32
    - -std=c23
    - -nostdlib
    - -Wall
    - -Wextra
    - -I../include
    - -mbulk-memory
    - -msimd128
---
If:
  PathMatch: tests/.*\.c
CompileFlags:
  Add:
    - -std=c23
    - -Wall
    - -Wextra
    - -I../include
